.input-password .segment-section {
    background-color: #ffffff;
    padding: 20px;
}

.input-password .custom-footer {
    --border-width: 0; /* Removes the border */
    --box-shadow: none; /* Removes shadow if present */
}



.custom-footer ion-button {
    --background: #177D54;
    /* --color-activated :  #177D54; */
    --background-activated : #e1e1e1;
}